.tabs {
    list-style: none;
    display: flex;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
  }
  
  .tab.active {
    background-color: #ccc;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  