@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
#okvir{
    width : 750px;
    height: 520px;
    margin: 0px auto;
    background-color : #9999CC;
}

#zaglavlje h1{
float: left;
    width : 99.5%;
    background-color : #ddd;
    color: green;
    font-size: 42pt;
    padding: 30px 2px;
    margin-top: 0px;
    font-family: 'Gabriela', serif;
}

body{
    background-color: #a7a09a;

}

#meni ul li{
    display: inline;

  }

  #meni ul {
    float:left;
    width : 97.5%;
    padding : 10px 10px;
    background-color : #c99;
    margin-top: -40px;
  }

  #glavni{
    float: left;
    width : 75%;
    background-color : #9c9;
    color: black;
    margin-top: -18px;
    height: 65%;
    padding-left: 1%;
  }

  #desno{
    float: left;
    width : 23%;
    background-color : #c9c;
    color: black;
    margin-top: -18px;
    padding-left: 1%;
  }

  
  #podnozje{
    margin-top: -20px;
    float : left;
    width : 97.5%;
    padding : 1px 10px;
    height: 7%;
    font-size: 11pt;
    background-color : #cc9;
    color: black;

  }
